<header class="text-center">
  <h1>My todos</h1>
</header>
  <app-create-todo (newTodoAddedEmitter)="addTodo($event)"></app-create-todo>
<div class="row justify-content-center">
<table class="table table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th>Is it Done</th>
      <th>Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos; let indexOfElem=index;">
      <th>{{indexOfElem}}</th>
      <td>
        <div class="form-check">
          <input 
            id="checkboxNoLabel" 
            class="form-check-input"
            type="checkbox"
            [checked]="todo.isDone"
            (click)="updateTodo(todo)"
          >
        </div>
      </td>
      <td>{{todo.name}}</td>
      <td>
        <button class="btn  btn-danger" type="button" (click) = 'deleteTodo(todo.id)'>
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>